:root {
    /* Colors the background using Pokémon light blue */
    background: #0075BE;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    /* Centers all items in the body */
    flex-direction: column;
    /* Makes the storage box go below the battle box as a column */
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    margin-top: 25px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: #FFCC00;
    /* Uses Pokémon yellow for all p element text */
    text-shadow: -2px 2px 3px #3b4cca;
    text-decoration: underline;
    font-family: "Marcellus", serif;
    /* A Google font */
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

img {
    /* This is a generated image we made for Pokémon Battle Simulator header */
    width: 200px;
    height: 200px;
}

.title {
    color: #FFCC00;
    font-size: 35px;
}

.box {
    background-color: #cc0000;
    /* Colors all boxes with Pokéball red */
    height: 100%;
    border-style: inset;
    border-width: 10px;
    border-color: #3b4cca;
}

.cell {
    margin: 25px;
    box-shadow: 5px 5px 3px black;
    border-radius: 5.5%;
    width: 750px;
    height: auto;
}

.storage-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.battle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battle-card-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.battle-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.vs {
    font-size: 2rem;
    color: #FFCC00;
    font-weight: bold;
    margin: 0 20px;
}

.button {
    /* Button styling for all buttons */
    width: 250px;
    height: 35px;
    color: white;
    font-weight: bold;
    background-color: black;
    border-color: #FFCC00;
    border-width: 4px;
    border-style: inset;
    text-shadow: 1px 1px 4px #FFCC00;
    margin-top: 20px;
    font-size: 1rem;
    /* Adjusted font size */
    padding: 0 10px;
    /* Adjusted padding for better text fit */
}

.button:hover {
    /* Makes the buttons turn Pokémon yellow on hover */
    background-color: #FFCC00;
}

.starter-button {
    width: 690px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    /* Adjusted font size */
    background-color: black;
    border-color: white;
    border-width: 4px;
    border-style: double;
    text-shadow: 1px 1px 4px #FFCC00;
    margin-top: 20px;
    padding: 0 10px;
    /* Adjusted padding for better text fit */
}

.starter-button:hover {
    background-color: #FFCC00;
}

.storage-button {
    width: 250px;
    height: 35px;
    color: white;
    font-weight: bold;
    background-color: black;
    border-color: #FFCC00;
    border-width: 4px;
    border-style: inset;
    border-radius: 10%;
    text-shadow: 1px 1px 4px #FFCC00;
    margin-bottom: 20px;
    font-size: 1rem;
    /* Adjusted font size */
    padding: 0 10px;
    /* Adjusted padding for better text fit */
}

.storage-button:hover {
    background-color: #FFCC00;
}

.storage-cell.expanded {
    width: auto;
    /* This makes the container expand as the user collects more Pokémon */
}

#storage-box-container.expanded {
    display: flex;
    /* This makes the container expand as the user collects more Pokémon */
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.storage-cell.collapsed {
    width: 15%;
}

#storage-box-container.collapsed {
    display: none;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.card {
    /* This styles all of the Pokémon cards as they are created by JavaScript */
    background-color: #3b4cca;
    border: 8px solid #ddd;
    border-radius: 8px;
    border-style: inset;
    border-color: #FFCC00;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 150px;
    /* Adjusted for better fit */
    height: 250px;
    /* Adjusted for better fit */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* Added padding for better content fit */
}

.card img {
    max-width: 100px;
    /* Adjusted for better fit */
    max-height: 100px;
    /* Adjusted for better fit */
    object-fit: contain;
}

.card-body {
    padding: 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.card-title {
    font-size: 14px;
    /* Adjusted font size */
    text-transform: capitalize;
    margin: 0 0 5px;
    font-weight: bold;
    color: #FFCC00;
    text-shadow: -2px 2px 3px #3b4cca;
    text-decoration: underline;
}

.card-text {
    color: #FFCC00;
    font-weight: bold;
    font-size: 10px;
    /* Adjusted font size */
    text-decoration: none;
}

.header-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.modal {
    /* Styles the modals */
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: black;
    margin: 5% auto;
    padding: 20px;
    border: 6px inset #FFCC00;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.release-button {
    background-color: #0075BE;
    color: white;
    border: double;
    border-color: black;
    border-radius: 10%;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 0.75rem;
    /* Adjusted font size */
    font-weight: bold;
}

.release-button:hover {
    background-color: #cc0000;
}

.hidden {
    display: none;
}

.storage-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #cc0000;
    border-style: inset;
    border-width: 10px;
    border-color: #3b4cca;
    box-shadow: 5px 5px 3px black;
    border-radius: 5.5%;
    margin: 0;
}

#battle-button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-style: inset;
    border-radius: 10%;
}

#storage-box-container {
    display: none;
}

.authorized #unauthorized {
    display: none;
}

.unauthorized #authorized {
    display: none;
}

.battle-text {
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.control {
    /* This adjusts the two battle side buttons */
    padding-right: 125px;
    padding-left: 25px;
}

.footer {
    display: flex;
    align-items: center;
    border: 10px inset;
    border-color: #3b4cca;
    background-color: #cc0000;
    color: #FFCC00;
    text-shadow: 2px 2px 3px #0075BE;
    font-size: 18px;
    font-family: "Marcellus", serif;
    text-decoration: solid;
    padding: 10px;
}

/* Media queries for responsiveness */

/* For devices with a max width of 1024px */
@media (max-width: 1024px) {

    .cell {
        width: 600px;
    }

    .storage-cell.collapsed {
        width: 30%;
    }

    .starter-button,
    .button,
    .storage-button {
        width: 200px;
        font-size: 0.78rem;
        /* Adjusted font size */
        padding: 0 5px;
        /* Adjusted padding for better text fit */
    }

    .control {
        padding-right: 75px;
        padding-left: 15px;
    }

    .card {
        width: 130px;
        height: 220px;
        padding: 5px;
        /* Adjusted padding for better content fit */
    }

    .card img {
        max-width: 80px;
        max-height: 80px;
    }

    .card-title {
        font-size: 12px;
        /* Adjusted font size */
    }

    .card-text {
        font-size: 9px;
        /* Adjusted font size */
    }
}

/* For devices with a max width of 768px */
@media (max-width: 768px) {
    .cell {
        width: 500px;
    }

    .storage-cell {
        width: 500px;
    }

    .starter-button,
    .button,
    .storage-button {
        width: auto;
        font-size: 0.80rem;
        /* Adjusted font size */
        padding: 0 5px;
        /* Adjusted padding for better text fit */
    }

    .control {
        padding-right: 50px;
        padding-left: 10px;
    }

    .card {
        width: 120px;
        height: 200px;
        padding: 5px;
        /* Adjusted padding for better content fit */
    }

    .card img {
        max-width: 70px;
        max-height: 70px;
    }

    .card-title {
        font-size: 10px;
        /* Adjusted font size */
    }

    .card-text {
        font-size: 8px;
        /* Adjusted font size */
    }
}

/* For devices with a max width of 480px */
@media (max-width: 480px) {
    .cell {
        width: auto;
    }

    .storage-cell.collapsed {
        width: auto;
    }

    .starter-button,
    .button,
    .storage-button {
        width: auto;
        font-size: 0.65rem;
        /* Adjusted font size */
        padding: 0 3px;
        /* Adjusted padding for better text fit */
        border-style: inset;
        border-color: #FFCC00;
        font-family: "Marcellus", serif;

    }

    .battle-container {
        padding: 10px;
    }

    .control {
        padding-right: 25px;
        padding-left: 5px;
    }

    .title {
        font-size: 30px;
    }

    .card {
        width: 130px;
        height: 200px;
        padding: 5px;
        /* Adjusted padding for better content fit */
    }

    .card img {
        max-width: 60px;
        max-height: 60px;
    }

    .card-title {
        font-size: 12px;
        /* Adjusted font size */
    }

    .card-text {
        font-size: 10px;
        /* Adjusted font size */
    }


    .modal-content .card {
        background-color: #3b4cca;
        margin: 5% auto;
        padding: 20px;
        border: 1px inset #FFCC00;
        border-width: 5px;
        width: 95%;
        height: auto;
    }

    .header-image {
        padding-left: 10px;
        padding-right: 10px;
    }

    p {
        font-size: 20px;
    }

    .footer {
        border: 6px inset;
        border-color: #3b4cca;
        font-size: 10px;
        font-family: "Marcellus", serif;
        text-decoration: solid;
        padding: 6px;
    }
}

/* For devices with a max width of 430px */
@media (max-width: 430px) {
    .cell {
        width: auto;
    }

    .storage-cell.collapsed {
        width: auto;
    }

    .starter-button,
    .button,
    .storage-button {
        width: auto;
        font-size: 0.52rem;
        /* Adjusted font size */
        padding: 0 11px;
        /* Adjusted padding for better text fit */
        border-style: inset;
        border-color: #FFCC00;
        font-family: "Marcellus", serif;

    }

    .battle-card-container {
        width: 120px;
    }

    .battle-container {
        padding: 10px;
    }

    .control {
        padding-right: 24px;
        padding-left: 5px;
    }

    .title {
        font-size: 30px;
    }

    .card {
        width: 120px;
        height: 200px;
        padding: 5px;
        /* Adjusted padding for better content fit */
    }

    .card img {
        max-width: 60px;
        max-height: 60px;
    }

    .card-title {
        font-size: 11px;
        /* Adjusted font size */
    }

    .card-text {
        font-size: 9px;
        /* Adjusted font size */
    }


    .modal-content .card {
        background-color: #3b4cca;
        margin: 5% auto;
        padding: 20px;
        border: 1px inset #FFCC00;
        border-width: 5px;
        width: 95%;
        height: auto;
    }

    .header-image {
        padding-left: 10px;
        padding-right: 10px;
    }

    p {
        font-size: 20px;
    }

    .footer {
        border: 6px inset;
        border-color: #3b4cca;
        font-size: 9px;
        font-family: "Marcellus", serif;
        text-decoration: solid;
        padding: 5px;
    }
}